*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
.navbar{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100%;
    height: 40px;
    /* border: 2px solid brown; */
    background-color: rgb(255, 234, 0);
    /* background-image: linear-gradient(rgb(255, 234, 0)); */
    padding: 0;
    z-index: 20;
    border: none;
    outline: none;
    
}

.container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid brown; */
    justify-content: space-between;
}
.button{
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 25px;
    align-items: center;
}

.button a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 25px;
}
.button a:hover{
    color: rgb(0, 8, 8);
}